body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

button,
input,
select,
a {
  outline: none !important; }
